{% assign shortcode_name  = 'carousel_product_Multi_tab_col_collection'  %}
	{% assign total = settings.carousel_product_Multi_tab_col_total  %}
	{% assign total_tab  = 2 %} 
	{% assign check_tab  = 1 %} 
	{% assign multi_class = "" %}
	{% assign num_row = settings.carousel_product_Multi_tab_num_col  %}
	{% capture shortcode_row %}{% include 'shortcode-render' render:'rows' default: num_row %}{% endcapture %}
	{% assign num_row =  shortcode_row  |  convert: "number"  %}
	{%  assign num_row = num_row  | plus : 0  %}
	{% assign enable_show_review = settings.carousel_product_Multi_tab_col_review %}
	<section class="product-Multi-tab" id="{% include 'shortcode-render' render:'id' default:'slide_tab_col' %}">
			<div class="section-heading">
				<h2>{% include 'shortcode-render' render:'title' default:settings.carousel_product_Multi_tab_col_title | escape %} </h2>
				<div class="tab-carousel-menu">
					<ul class="nav nav-tabs tab-product-carousel" role="tablist">
						{% for i in (1..total_tab) %}
							{% assign collection_name = 'collection' | append: i %}
							{% assign tab_handle = shortcode_name | append: i %}
							{% capture handleize_tab %}{% include 'shortcode-render' render:collection_name default:'' %}{% endcapture %}
							{% if handleize_tab !="" %}
								<li role="presentation" class="{% if check_tab  ==1 %} active  first{% endif %} {%if forloop.last %} last  {% endif %}">
									<a href="#{{tab_handle}}" aria-controls="{{tab_handle}}" role="tab" data-toggle="tab">{{collections[handleize_tab].title |   escape  }}</a>
								</li>
								{% if check_tab == 1 %}
									{% assign  multi_class = multi_class | append : '.multi-col-' | append : handleize_tab %}
								{% else %}
									{% assign  multi_class = multi_class | append :', .multi-col-' | append  : handleize_tab %}
								{% endif %}
								{%  assign check_tab = check_tab  | plus: 1 %}
							{% endif %}
						{% endfor %}
					 </ul> 
				</div>
			</div>
			 
		  <!-- Tab panes -->
		  <div class="tab-content">
		  	{% assign check_content = 1 %} 
		  	{% for i in (1..total_tab) %}
		  		{% assign check_row = 1 %}
				{% assign collection_name = 'collection' | append: i %}
				{% assign tab_handle =shortcode_name| append  : i %}
				{% capture handleize_tab %}{% include 'shortcode-render' render:collection_name default: '' %}{% endcapture %}
				{% if handleize_tab != "" %}
					 <div role="tabpanel" class="tab-pane {% if check_content ==1 %} active first {% endif %} {% if forloop.last %} last  {% endif %}" id="{{tab_handle}}">
					 		 <div  class="owl-carousel multi-col-{{handleize_tab}}">
							 {% for product in collections[handleize_tab].products limit: total %}
								{% if check_row == 1 %}
							       <div class="item {% if forloop.first %} item-first {% endif %} {% if forloop.last %} item-last {% endif %} {% cycle 'odd', 'even' %}">
							    {% endif %} 
							       	 {% include 'product-single' %} 

									{% if  check_row  >=  num_row  or forloop.last %}
							       		</div>
							       		{% assign check_row =0 %}
							    	{% endif %}
							    {% assign check_row = check_row | plus : 1 %}
						     {% endfor %}
						</div>
					 </div>
					 {% assign check_content = check_content | plus :1  %}
				{% endif %}
			{% endfor %}
		  </div>
		<script>
		(function($){
			$(document).ready(function() {
				$("{{ multi_class }}").owlCarousel({
			    // Most important owl features
			     
			    itemsCustom : false,
			    singleItem : true,
			    itemsScaleUp : false,
			 
			    //Basic Speeds
			    slideSpeed : {{settings.carousel_product_Multi_tab_col_speed}},
			    paginationSpeed : {{settings.carousel_product_Multi_tab_col_speed}},
			    rewindSpeed : {{settings.carousel_product_Multi_tab_col_speed}},
			 
			    //Autoplay
			    autoPlay : {{settings.carousel_product_Multi_tab_col_autoplay}},
			    stopOnHover : true,
			 
			    // Navigation
			    navigation : {{settings.carousel_product_Multi_tab_col_navigation}},
			    navigationText : ["prev","next"],
			    rewindNav : true,
			    scrollPerPage : false,
			 
			    //Pagination
			    pagination : {{settings.carousel_product_Multi_tab_col_pagination}},
			    paginationNumbers: false,
			 
			    // Responsive 
			    responsive: true,
			    responsiveRefreshRate : 200,
			    responsiveBaseWidth: window,
			 
			    // CSS Styles
			    baseClass : "owl-carousel",
			    theme : "owl-theme",

			 
			    //Auto height
			    autoHeight : false,
			})
			});
	})(jQuery);
		</script>
	</section>
	