{% assign total_testimonial = 5  %}
<section id="testimonial">
	<div class="testimonial-heading">
		<h2>{{settings.testimonial_title  | strip_html }}</h2>
	</div>
	<div class="testimonial-content slider-testimonial" id="slider-testimonial">
		{% for i in (1..total_testimonial)  %}
			{% assign handle_use   = 'testimonial_box_use' | append : i  %}
			{% if settings[handle_use] %}
				{% assign testimonial_box_title =  'testimonial_box_title' | append : i  %}
				{% assign testimonial_box_name = 'testimonial_box_name'  | append : i  %}
				{% assign testimonial_box_use_avatar = 'testimonial_box_use_avatar' | append : i  %}
				{% assign testimonial_box_avatar = 'testimonial_box_avatar'  | append : i | append : '.jpg'   %}
				{% assign testimonial_box_content = 'testimonial_box_content' | append : i  %}
				<div class="testimonial-box">
                  <p class="box-content-testimonial">
                  	{{settings[testimonial_box_content]}}
                  </p>
                  <div class="testimonial-image center-block text-muted">
                  	{{testimonial_box_avatar | asset_url | img_tag : settings[testimonial_box_name] , 'img-circle'}}
                  </div>
                  <div class="testimonial-name">
                  	<h3>{{ settings[testimonial_box_name] }}</h3>
                  </div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	
</section>
<script>
	(function($){
		$(document).ready(function() {
			$(".slider-testimonial").owlCarousel({
			// Most important owl features
			singleItem : true,
			itemsScaleUp : false,

			//Basic Speeds
			slideSpeed : {{settings.testimonial_speed}},
			paginationSpeed : {{settings.testimonial_speed}},
			rewindSpeed : {{settings.testimonial_speed}},

			//Autoplay
			autoPlay : {{settings.testimonial_autoplay}},
			stopOnHover : true,

			// Navigation
			navigation : {{settings.testimonial_navigation}},
			navigationText : ["prev","next"],
			rewindNav : true,
			scrollPerPage : false,

			//Pagination
			pagination : {{settings.testimonial_pagination}},
			paginationNumbers: false,

 
})
		});	
	})(jQuery)
</script>