{% if settings.carousel_product_single_tab_row_collection != "" %}
	{% assign collection_handle = settings.carousel_product_single_tab_row_collection %}
	{% assign num_row = settings.carousel_product_Multi_tab_num_row  |  convert: "number"  %}
	{%  assign num_row = num_row  | plus : 0  %}
	{% assign total = settings.carousel_product_single_tab_row_total  %}
	{% assign enable_show_review = settings.carousel_product_single_tab_row_review %}
	{% assign enable_show_review = settings.carousel_product_single_tab_row_eview %}
	{% assign check_row =1 %}
	<section class="product-single-tab-row">
			<div class="section-heading">
				<h2> {{  settings.carousel_product_single_tab_row_title | escape }}</h2>
			</div>
			 <div id="{% include 'shortcode-render' render:'id' default:'slider-row' %}" class="owl-carousel">
				 {% for product in collections[collection_handle].products limit: total %}
			       {% if check_row ==1 %}
			       		<div class="item {% if forloop.first %} item-first {% endif %} {% if forloop.last %} item-last {% endif %} {% cycle 'odd', 'even' %}">
					{% endif %}

			       	 {% include 'product-single' %}
			       	{% if check_row >= num_row  or forloop.last %}
			       		</div>
			       			{% assign check_row = 0 %}
			       {% endif %}
			       {% assign  check_row = check_row  | plus : 1 %}
			     {% endfor %}
			</div>
		<script>
		(function($) {
			$(document).ready(function() {
				$("#{% include 'shortcode-render' render:'id' default:'slider-row' %}").owlCarousel({
			    // Most important owl features
			    items : {{settings.carousel_product_single_tab_row_items}},
			    itemsCustom : false,
			    itemsDesktop : [1199,{{settings.carousel_product_single_tab_row_itemsDesktop}}],
			    itemsDesktopSmall : [980,3],
			    itemsTablet: [768,{{settings.carousel_product_single_tab_row_itemsTablet}}],
			    itemsTabletSmall: false,
			    itemsMobile : [479,{{settings.carousel_product_single_tab_row_itemsMobile}}],
			    singleItem : false,
			    itemsScaleUp : false,
			 
			    //Basic Speeds
			    slideSpeed : {{settings.carousel_product_single_tab_row_speed}},
			    paginationSpeed : {{settings.carousel_product_single_tab_row_speed}},
			    rewindSpeed : {{settings.carousel_product_single_tab_row_speed}},
			 
			    //Autoplay
			    autoPlay : {{settings.carousel_product_single_tab_row_autoplay}},
			    stopOnHover : false,
			 
			    // Navigation
			    navigation : {{settings.carousel_product_single_tab_row_navigation}},
			    navigationText : ["prev","next"],
			    rewindNav : true,
			    scrollPerPage : false,
			 
			    //Pagination
			    pagination : {{settings.carousel_product_single_tab_row_pagination}},
			    paginationNumbers: false,
			 
			    // Responsive 
			    responsive: true,
			    responsiveRefreshRate : 200,
			    responsiveBaseWidth: window,
			 
			    // CSS Styles
			    baseClass : "owl-carousel",
			    theme : "owl-theme",

			 
			    //Auto height
			    autoHeight : false,
			})
		});
	})(jQuery);
		</script>
	</section>
	
{% endif %}