<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <!--  Stylesheet  will import in snoppets/header-stylesheets.liquid-->
  {% include 'header-stylesheets'  %}
  <!--  Stylesheet  will import in snoppets/header-scripts.liquid-->
  {% include 'header-scripts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
<script src="https://cdn.localizejs.com/localize.js"></script>
<script>!function(a){if(!a.Localize){a.Localize={};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","detectLanguage","getAvailableLanguages","untranslatePage","bootstrap","prefetch","on","off"],t=0;t<e.length;t++)a.Localize[e[t]]=function(){}}}(window);</script>

<script>
 Localize.initialize({
  key: 'QXo2X9MCu0mJr',
  rememberLanguage: true
 });
</script>

</head>

{% comment %}
Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  {% if settings.layout_width == 'container-fluid' %}
 	 {% assign layout_width = 'container-fluid' %}
  {% else %}
  	{% assign layout_widths = 'container-box' %}
  	{% assign layout_width = 'container' %}
  {% endif %}


  <div class="{{layout_widths}}">
     <div class="{{layout_width}}">

      {%comment%}
        -top_link.
        -site_nav.
      {% endcomment %}
      <!-- Header ================================================== -->
      {% include 'header' %}

      <main class="main-content" role="main">
        {{ content_for_layout }}
      </main>

      <!-- Footer ================================================== -->
      {% include 'footer' %}

    </div>
    <div id="loading">
      <ul class="cssload-cssload-ballsncups">
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
      </ul>
    </div>
  </div> 

    {% include 'modal-quickview' %}
    {% include 'modal-register'  %}
    <!--  Script will import in snippets/bottom-scripts.liqu-->
    {% include 'bottom-scripts' %}
    {% include 'currencies' %}
</body>
</html>
