<script type="text/javascript">
  var json_collection =  {{collection.products | json }};
</script>
{% assign enable_show_review =  true %}
{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}
<input type="text" name="" value="" placeholder="" id="xxx">
<div class="container">
  <div class="row">
    <div class="col-md-3 hiden-sm">
     
      <div class="range">
          <p>
          <label for="amount">Price range:</label>
          <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
         
        <div id="slider-range"></div>
        </div>
      </div>
    <div class="col-md-9">
    {% if collection.description != blank %}
        <header class="section-header">
          <h1 class="section-header-title">{{ collection.title }}</h1>
          {% if collection.image.size > 0 %}
          <div class="collection-banner"></div>
            {{ collection.image.src | img_url: 'large' | img_tag:collection.title,'banner' }}
          {% endif %}
          <div class="collection-description">
            {{ collection.description }}
          </div>
        </header>
        <hr>
        <div class="section-header">
          <div class="collection-header  ">
            {% include 'collection-sorting' %}
          </div>
        </div>
      {% else %}
        <header class="section-header">
          <h1 class="collection-title page-header">{{ collection.title }}</h1>
          <div class="collection-header ">
            {% include 'collection-sorting' %}
          </div>
        </header>
      {% endif %}
      <div class="row">
        {% for product in collection.products %}
          <div class="col-md-3 col-sm-6 col-xs-12">
        {% include 'product-single' %}
            
          </div>

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}
          <div class="row">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}
      </div>
    </div>

      {% if paginate.pages > 1 %}
        <div class="row">
      <hr>
      <nav>
        <ul class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' | replace: 'span','li'}}
        </ul>
      </nav>
         </div>
    {% endif %}


 {% comment %} <div class="col-md-4">
    {% include 'collection-sidebar' %}
  </div>{% endcomment %}
  </div>
</div>
 

{% endpaginate %}
