<!-- /templates/collection.list.liquid -->
{% comment %}

  By using a variation of the 'view all' parameter technique, you can create
  a custom layout for any template by adding ?view=xxxx

  In this example, you can have a list view of your collection page by going to
  /collections/all?view=list

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

  For more information on the ?view parameter:
    - http://docs.shopify.com/support/configuration/store-customization/can-i-show-more-than-50-products-on-my-homepage-can-i-add-a-view-all-function-to-my-collection-pages#add-view-all

{% endcomment %}

{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="container">
  <div class="row">
  <div class="col-md-3">
        <div class="range">
          <p>
          <label for="amount">Price range:</label>
          <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range"></div>
        </div>
  </div>

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}
   <div class="col-md-9">
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header-title page-header">{{ collection.title }}</h1>
         {% if collection.image.size > 0 %}
          <div class="collection-banner"></div>
            {{ collection.image.src | img_url: 'large' | img_tag:collection.title,'banner' }}
          {% endif %}
        <div class="collection-header">
          {{ collection.description }}
        </div>
      </header>
      <hr>
      <div class="section-header">
        <div class="pull-right inline">
          {% include 'collection-sorting' %}
        </div>
      </div>
    {% else %}
      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
        <div class="section-collection pull-right">
          {% include 'collection-sorting' %}
        </div>
      </header>
    {% endif %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="row">
      <div class="products-list" id="products-list">
      <!-- begin product list output -->
      {% for product in collection.products %}

        {% comment %}
          Check if the product is on sale and set a variable to be used below.
        {% endcomment %}
        {% assign on_sale = false %}
        {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
        {% endif %}

        {% comment %}
          Check if the product is sold out and set a variable to be used below.
        {% endcomment %}
        {% assign sold_out = true %}
        {% if product.available %}
          {% assign sold_out = false %}
        {% endif %}

      <div class="item-list">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="image-container">
             <a href="{{ product.url | within: collection }}" class="thumbnail">
                <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" class="product-image">
            </a>
          </div>

        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <a href="{{product.url}}" class="product-link"><h2 class="product-name">{{ product.title }}</h2> </a>
           <div class="product-rating">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          <div class="product-description">
             <p>{{ product.content | strip_html | truncatewords: 30 }}</p>
          </div>
          <div class="product-price">
                 {% if on_sale %}
                    {% if product.price_varies %}
                      {% assign sale_price = product.price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                      <strong>{{ 'products.product.on_sale' | t }}</strong>
                      {{ product.price | money }}
                    {% endif %}
                  {% else %}
                    {% if product.price_varies %}
                      {% assign price = product.price | money %}
                      {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}
                      {{ product.price | money }}
                    {% endif %}
                  {% endif %}
                  {% if sold_out %}
                    <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                  {% endif %}
                  {% if on_sale %}
                    <br><span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span><s>{{ product.compare_at_price | money }}</s>
                  {% endif %}
          </div>
          <div class="product-ovelay">
              <a href="{{ product.url | within: collection }}" data-pid="{{product.id}}" class="quick-view" title="Quick view" data-toggle="tooltip" data-placement="top"><i class="fa fa-search"></i></a>
             {% include 'wishlist-product'   %} 
             <a href="#" class="compare" data-pid="{{product.handle}}" title="{{ 'compare.general.compare_product' | t }}" data-toggle="tooltip" data-placement="top"><i class="fa fa-retweet"></i></a>
             {% if product.options.size > 1 %}
                <a href="#" onclick="location.href='{{ product.url | within: collection }}'">{{'products.product.product_option' | t }}</a>
             {% else %}
            <div class="pro-add-to-cart">
             {% if product.variants.first.available %}
              <p><a href="#" title="{{'products.product.add_to_cart' | t }}" data-pid="{{ product.variants.first.id }}" class="add-to-cart">{{'products.product.add_to_cart' | t }}</a></p>
            {% endif %}
            </div>
           {% endif %}
          </div>
        </div>

      </div>
            
 
       

      {% else %}

        <div class="row">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endfor %}
      </div>
      <!-- //product list output -->

    </div>
   </div>

    {% if paginate.pages > 1 %}
      <hr>
      <nav>
        <ul class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' | replace: 'span','li' }}
      </ul>
      </nav>
    {% endif %}

  </div>

 {% comment %} <div class="grid__item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>{% endcomment %}
</div>

{% endpaginate %}
